.NavbarItems {
	background-color: lightgray;
	height: 80px;
	display: flex;
  justify-content: space-around;
	align-items: center;
}

.navbar-logo {
	color: rgb(0, 0, 0);
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
}

.dropdown {
  margin: 20px; 
}
